/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the default font and background color */
body {
  @apply bg-brand-dark text-brand-light font-body;
}

.i5i{
  /* 2147894625 1 */
position: absolute;
width: 847.8px;
height: 645.3px;
top: 105px;
content: url("https://raw.githubusercontent.com/SatyanarayanaKorada/tiffin-box/refs/heads/main/src/assets/image.png");
}